<div class="container">
  <h1>
    Angular Signing Native App Example
  </h1>
  <div>
    <div class="row alert alert-info" role="alert" *ngIf="loading > 0">
      Loading...
    </div>
    <div class="row alert alert-danger" role="alert" *ngIf="!socket_open">
      Websocket is not open.
    </div>
    <div class="row alert alert-danger" role="alert" *ngIf="error">
      Error: {{error}}
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary mr-1" (click)="openSocket()" [disabled]="socket_open">Connect</button>
    <button type="button" class="btn btn-primary" (click)="listSlots()" [disabled]="!socket_open">List Slots</button>
  </div>
  <div class="row mt-2">
    <div>Selected slot: {{selected_slot}}</div>
    <div *ngIf="slotSelectedSlotInfo">
      <ul>
        <li>Label: {{slotSelectedSlotInfo.label}}</li>
        <li>Manufacturer: {{slotSelectedSlotInfo.manufacturerID}}</li>
        <li>Session Open: {{slotSelectedSlotInfo.open}}</li>
        <li>Session Logged: {{slotSelectedSlotInfo.logged}}</li>
      </ul>
    </div>
    <select class="form-control" [(ngModel)]="selected_slot" (ngModelChange)="resetSelectedCert()">
      <option value="">None</option>
      <option *ngFor="let slot of objectKeys(slots_info)" [value]="slot">{{slot}} - {{slots_info[slot].label}} ({{slots_info[slot].manufacturerID}})</option>
    </select>
  </div>
  <div class="row mt-2">
    <button type="button" class="btn btn-primary mr-1" (click)="openSession()" [disabled]="!socket_open || selected_slot === '' || slots_info[selected_slot].open">Open Slot</button>
    <button type="button" class="btn btn-primary mr-1" (click)="loginSession()" [disabled]="!socket_open || selected_slot === '' || !slots_info[selected_slot].open || slots_info[selected_slot].logged">Login Slot</button>
    <button type="button" class="btn btn-primary" (click)="listCerts()" [disabled]="!socket_open || selected_slot === '' || !slots_info[selected_slot].open || !slots_info[selected_slot].logged">List Certs</button>
  </div>
  <div class="row mt-2">
    <div>Selected cert: {{selected_cert}}</div>
    <div *ngIf="slotSelectedCertInfo">
      <ul>
        <li>Subject: {{slotSelectedCertInfo.info.subject}}</li>
        <li>Issuer: {{slotSelectedCertInfo.info.issuer}}</li>
      </ul>
    </div>
    <select class="form-control" [(ngModel)]="selected_cert">
      <option value="">None</option>
      <option *ngFor="let cert of objectKeys(certs_info)" [value]="cert">{{cert}}</option>
    </select>
  </div>
  <hr>
  <div class="row mt-2">
    <label for="messageInput">Message:</label>
    <input id="messageInput" type="text" class="form-control" [(ngModel)]="message">
    <select class="form-control mt-1" [(ngModel)]="selected_source_encoding">
      <option value="plain">Plain</option>
      <option value="base64">Base64</option>
      <option value="base32">Base32</option>
      <option value="base16">Base64</option>
    </select>
    <select class="form-control mt-1" [(ngModel)]="selected_destination_encoding">
      <option value="hex">Hex</option>
      <option value="base64">Base64</option>
      <option value="base32">Base32</option>
      <option value="base16">Base64</option>
    </select>
  </div>
  <div class="row mt-2">
    <button type="button" class="btn btn-primary" (click)="signWithCert()" [disabled]="!signFlag">Sign</button>
  </div>
  <div class="row mt-2">
    <label for="signatureText">Output:</label>
    <textarea id="signatureText" class="form-control" rows="5" [(ngModel)]="output" disabled></textarea>
  </div>
</div>